@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar d-none d-md-block">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<style>
    .content {
        padding: 0 !important;
    }
    main {
        background-color: #f8f9fa;
    }
</style>